@font-face {
	font-family: "mullernarrow";
	src: url("../fonts/mullernarrow/MullerLight.otf");
	src: url("../fonts/mullernarrow/MullerLight.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/mullernarrow/MullerLight.woff") format("woff"),
			 url("../fonts/mullernarrow/MullerLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "mullernarrow";
	src: url("../fonts/mullernarrow/MullerRegular.otf");
	src: url("../fonts/mullernarrow/MullerRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/mullernarrow/MullerRegular.woff") format("woff"),
			 url("../fonts/mullernarrow/MullerRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "mullernarrow";
	src: url("../fonts/mullernarrow/MullerBold.otf");
	src: url("../fonts/mullernarrow/MullerBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/mullernarrow/MullerBold.woff") format("woff"),
			 url("../fonts/mullernarrow/MullerBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{
	display: block;
	font-family: 'MullerNarrow';
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: 'MullerNarrow' sans-serif;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
ul, li {
	display: block;
	font-family: 'MullerNarrow';
}
.container-menu {
	background: white;
	min-width: 1280px;
	margin: 0 auto;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
header a {
	color: #A0A0A0;
}
.logo {
	position: relative;
	width: 315px;
	height: 49px;
	margin-right: 169px;
	margin-left: 60px;
}
.logo__about {
	position: absolute;
	display: inline-block;
	width: 129px;
	bottom: 0px;
	right: 0px;
	color: #0170B0;
	font-weight: 400;
}
.menu {
	display: flex;
}
.menu li a {
	position: relative;
	color: #A0A0A0; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none;
	font-size: 16px;
}
.menu li a:after {
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1px; /*задаём ширину линии*/
	background-color: #0170B0; /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}
.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu li {
	margin-right: 50px;
}

.nav {
	display: flex;
	align-items: center;
	height: 86px;
	border: 1px solid #EBEBEB;
}
.contacts {
	width: 265px;
	height: 45px;
	position: relative;
	display: inline-block;
	margin-right: 60px;
	margin-left: auto;
}
.contacts__img {
	top: 4px;
	position: absolute;
}
.contacts__tel {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	font-size: 24px;
	font-weight: bold;
	background: linear-gradient(316.47deg, #0170B0 4.47%, #18BBEB 110.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts__text {
  color: #0170B0;
	position: absolute;
	font-size: 16px;
	right: 0;
	bottom: 0px;
	text-decoration: underline;
}

/* .header	{
} */

.content {
	display: flex;
	justify-content: center;
}

.content__img {
	margin-top: 25px;
	/* margin-left: 33px; */
}
.img-main {
	position: relative;
	width: 492px;
	height: 492px;
}
.img-main__first {
	display: flex;
	justify-content: center;
}
.img-main__second {
	position: absolute;
	left: 71px;
	top: 71px;
	width: 350px;
	height: 350px;
	border: 50px solid;
	border-image-source: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
	transform: rotate(45deg);
	border-image-slice: 1;
	z-index: -3;
}

.img-main__third {
	position: absolute;
	border-top: 50px solid;
	border-left: 50px solid;
	border-image-source: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
	border-image-slice: 1;
	transform: rotate(45deg);
	left: 71px;
	top: 71px;
	width: 350px;
	height: 350px;
	z-index: 3;
}

.content__text {
	margin: 83px 0 67px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content__about {
	margin-bottom: 77px;
}

h1 {
	font-size: 55px;
	margin-bottom: 5px;
}
.color-blue {
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.content__elitdent {
	font-size: 18px;
	line-height: 21.6px;
	color: #A0A0A0;
}

.content__plan {}

.content__plan-text {
	overflow: visible;
	margin-bottom: 12px;
	font-size: 24px;
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.content__line {
	padding-left: 10px;
	margin-left: -10px;
	border-left: 3px solid #18BBEB;
}

.span-text1 {
	font-weight: 700;
}

.span-text2 {}

.content__plan-button {
	display: inline-block;
	border: 1px solid #FFC6DA;
	border-radius: 47px;
}

.button-price {
	margin: 7px;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	padding: 1.1em 2.5em;
	color: white;
	display: flex;
	align-items: center;
	text-align: center;
	background: linear-gradient(276.82deg, #FF0000 -10.3%, #FF2272 75.13%);
	box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
	border-radius: 47px;
}
.vector {
	position: absolute;
	z-index: -5;
}
.vector__ellipse-1 {
	position: absolute;
	margin-top: 281px;
	margin-left: 467px;

	z-index: -4;
}
.vector__ellipse-2 {
	position: absolute;
	z-index: -4;
	margin-top: 571px;
	margin-left: 1041px;
}
.vector__ellipse-3 {
	position: absolute;
	z-index: -4;
	margin-top: 373px;
	margin-left: 1622px;
}



