/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
p {
	margin-bottom: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{
	display: block;
	font-family: 'Muller';
	font-style: normal;
	font-weight: normal;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: 'Muller';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;line-height: 1;}
/*--------------------*/
ul, li {
	display: block;
	font-family: 'Muller';
}
.container-menu {
	background: white;
	width: 100%;
	margin: 0 auto;
}
header a {
	color: #A0A0A0;
}
.logo {
	position: relative;
	width: 315px;
	height: 49px;
	margin-right: 169px;
	margin-left: 60px;
}
.logo__about {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	color: #0170B0;
	font-weight: 400;
}
.menu {
	display: flex;
	margin-bottom: 0px;
}
.menu li a {
	position: relative;
	color: #A0A0A0; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none;
	font-size: 16px;
}
.menu li a:after {
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1px; /*задаём ширину линии*/
	background-color: #0170B0; /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}
.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.menu li {
	margin-right: 50px;
}
.nav {
	display: flex;
	align-items: center;
	height: 86px;
	border: 1px solid #EBEBEB;
}
.contacts {
	width: 265px;
	height: 45px;
	position: relative;
	display: inline-block;
	margin-right: 60px;
	margin-left: auto;
}
.contacts__img {
	top: 4px;
	position: absolute;
}
.contacts__tel {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	font-size: 24px;
	font-weight: bold;
	background: linear-gradient(316.47deg, #0170B0 4.47%, #18BBEB 110.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts__text {
  color: #0170B0;
	position: absolute;
	font-size: 16px;
	right: 0;
	bottom: 0px;
	text-decoration: underline;
}

.header	{
	width: 100%;
	margin-bottom: 30px;
}

.content {
	display: flex;
	justify-content: center;
}
.content__img {
	margin-top: 25px;
	/* margin-left: 33px; */
}
.img-main {
	position: relative;
	width: 492px;
	height: 492px;
}
.img-main__first {
	display: flex;
	justify-content: center;
}
.img-main__second {
	position: absolute;
	left: 71px;
	top: 71px;
	width: 350px;
	height: 350px;
	border: 50px solid;
	border-image-source: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
	transform: rotate(45deg);
	border-image-slice: 1;
	z-index: -3;
}
.img-main__third {
	position: absolute;
	border-top: 50px solid;
	border-left: 50px solid;
	border-image-source: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
	border-image-slice: 1;
	transform: rotate(45deg);
	left: 71px;
	top: 71px;
	width: 350px;
	height: 350px;
	z-index: 3;
}
.content__text {
	margin: 83px 0 67px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content__about {
	margin-bottom: 77px;
}
h1 {
	font-size: 55px;
	margin-bottom: 5px;
}
.color-blue {
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.content__elitdent {
	font-size: 18px;
	line-height: 21.6px;
	color: #A0A0A0;
}
.content__plan {}

.content__plan-text {
	overflow: visible;
	margin-bottom: 12px;
	font-size: 24px;
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.content__line {
	padding-left: 10px;
	margin-left: -10px;
	border-left: 3px solid #18BBEB;
}
.span-text1 {
	font-weight: 700;
}
.span-text2 {}

.content__plan-button {
	display: inline-block;
	border: 1px solid #FFC6DA;
	border-radius: 47px;
}
.button-price {
	font-family: 'Muller';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	margin: 7px;
	width: 265px;
	height: 56px;
	color: white;
	background: linear-gradient(276.82deg, #FF0000 -10.3%, #FF2272 75.13%);
	box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
	border-radius: 47px;
}
.button-price, 
.button-price:active, 
.button-price:focus {
    outline: none;
}

.vector {
	position: absolute;
	z-index: -5;
}

/* =============================== */
.present {
	margin-top: 45px;
}
.present__header p {
	font-family: 'Muller';
	text-align: center;
	font-size: 48px;
	line-height: 100%;
}
.present__header span {
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.present__header .present-mini {
	font-size: 22px;
	line-height: 26.4px;
	margin-top: 3px;
	font-weight: 400;
	color: #A0A0A0;
}
/* ========================= */
.present-bg {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 25px;
}
.present-bg__bg {
	position: relative;
	display: flex;
}
.present-bg__front {
	position: absolute;
}
.present__line {
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background-color: #fff;
	border-radius: 1px;
}
.line-center {
	position: absolute;
	width: 0px;
	top: 121px;
	left: -5px;
	border: 6px solid #fff;
	border-radius: 6px;
	height: 142px;
	background-color: #fff000;
}
.present__circle {
	position: absolute;
	width: 60px;
	height: 60px;
	left:-30px;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	border-radius: 50%;
	background-color: #fff;
}
.present__circle img {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	cursor: pointer;
}
/* ===================== */
.present-ftr {
	display: flex;
	margin: 20px 0 25px 59px;
}
.present-info {
	font-family: 'Muller';
	margin: 2px 0 0 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
}
.present-ftr span {
	font-weight: 700;
	line-height: 1.2em;
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
/* ===================================== */
.services {
	width: 100%;
	background: linear-gradient(276.67deg, rgba(1, 112, 176, 0.94) -6.86%, rgba(24, 187, 235, 0.94) 104.01%);
	backdrop-filter: blur(20px);
	border-top-left-radius: 50% 13px;
	border-top-right-radius: 50% 13px;
}
.services-header {
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}
.services-header p {
	font-family: 'Muller';
	margin-top: 30px;
	font-size: 48px;
	line-height: 120%;
	color: #fff;
}
.services-wrap {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
}

.services-flex {
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.services__item {
	margin-bottom: 50px;
	width: 28.3%;
	/* flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.services-img {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: #fff;
}
.services-title {
	font-family: 'Muller';
	text-align: center;
	font-size: 24px;
	margin-top: 18px;
	line-height: 120%;
	font-weight: 300;
	color: #fff;
}
.services-info {
	font-family: 'Muller';
	font-weight: 300;
	font-size: 14px;
	margin-top: 10px;
	line-height: 120%;
	text-align: center;
	color: #AAE8FF;
}
.tool-img {
	position: absolute;
	right: 29px;
	bottom: -103px;
}
.services__radius-bottom {
	width: 100%;
	height: 15px;
	margin-top: 25px;
	border-top-left-radius: 50% 15px;
	border-top-right-radius: 50% 15px;
	background-color: #fff;
}
/* ============================= */
.problem {
	margin-top: 39px;
}
.gradient-text {
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(348.89deg, #0170B0 -30.39%, #18BBEB 123.01%);
}
.problem__title {}

.problem__title-text {
	text-align: center;
	font-family: 'Muller';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 100%;
}

.problem__title-info {
	text-align: center;
	font-family: 'Muller';
	font-size: 22px;
	line-height: 155%;
	color: #A0A0A0;
}
.mrgn {
	margin-top: 25px;
	margin-left: -155px;
}
.mrgn-2 {
	margin-top: 27px;
}
.sign-up {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 150%;
	color: #29292B;
}

.sign-text {
	margin-top: 3px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #A0A0A0;
}
::-webkit-input-placeholder {color:#A3A3A3;}
::-moz-placeholder {color:#A3A3A3;}/* Firefox 19+ */
:-moz-placeholder {color:#A3A3A3;}/* Firefox 18- */
:-ms-input-placeholder {color:#A3A3A3;}

.input-style {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	width: 351px;
	background-color: transparent;
	color: #A3A3A3;
	border-bottom: 0.5px solid #A3A3A3;
}

.content__plan-button {
	margin-top: 20px;
}

.clinic-info {
	margin-top: 42px;
}
.doctor {
	display: flex;
}
.doctor-icon {
	display: flex;
	justify-content: center;
	width: 36px;
	margin-top: 4px;
}
.doctor-man {
	margin-left: 13px;
}
.doctor-info {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 120%;
	color: #BDBDBD;
}
.doctor-name {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
}
.identif-10 {
	margin-top: 10px;
}
.mrgn-41 {
	margin-top: 41px;
	line-height: 120%;
}
.clear-text {
	font-style: normal;
	font-weight: 800;
	font-size: 62px;
	line-height: 150%;
	text-transform: uppercase;
	color: transparent; 
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(360deg, #FFFFFF 26.34%, rgba(255, 255, 255, 0) 83.87%),
	linear-gradient(0deg, #EDEDED, #EDEDED);
}
.clear-info {
	font-family: 'Muller';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 150%;
}